@import url(https://fonts.googleapis.com/css?family=Montserrat|Roboto);

$roboto-font: 'Roboto', sans-serif;
$montserrat-font: 'Montserrat', sans-serif;

$sidebar-color: #23282D;

$accent-red: #F06B50;
$accent-blue: #9BC3EF;
$accent-orange: #FABB71;
$accent-green: #78ccb3;
